@media (min-width: 960px) {
    .main-table {
        position: fixed;
        top: 200px;
        left: 520px;
        width: 800px;

    }
    .search{
        position: fixed;
        top: 65px;
        left: 520px;
        width: 800px;
        z-index: 1;
    }
    .last{
        position: fixed;
        top: 328px;
        width: 600px;
        margin-left: 10px;
    }
    .favorite{
        position: fixed;
        top: 60px;
        width: 600px;
        margin-left: 10px;

    }
}